In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.path.join('/home/muhammadfaizan/Faizan/AXIOM/working with LSTM/ge-stock/','ge.us.txt'),engine='python')
df

             Date     Open     High      Low    Close     Volume  OpenInt
0      1962-01-02   0.6277   0.6362   0.6201   0.6201    2575579        0
1      1962-01-03   0.6201   0.6201   0.6122   0.6201    1764749        0
2      1962-01-04   0.6201   0.6201   0.6037   0.6122    2194010        0
3      1962-01-05   0.6122   0.6122   0.5798   0.5957    3255244        0
4      1962-01-08   0.5957   0.5957   0.5716   0.5957    3696430        0
...           ...      ...      ...      ...      ...        ...      ...
14053  2017-11-06  20.5200  20.5300  20.0800  20.1300   60641787        0
14054  2017-11-07  20.1700  20.2500  20.1200  20.2100   41622851        0
14055  2017-11-08  20.2100  20.3200  20.0700  20.1200   39672190        0
14056  2017-11-09  20.0400  20.0710  19.8500  19.9900   50831779        0
14057  2017-11-10  19.9800  20.6800  19.9000  20.4900  100698474        0

[14058 rows x 7 columns]

In [7]:
dataset = (df.drop(columns=['Date','OpenInt']))

In [12]:
def Normalizing_the_dataset (dataset,train_size):
    x_train = []
    x_test = []
    
    split_data = np.random.rand(len(dataset)) < train_size
    train_data = dataset[split_data]
    test_data = dataset[~split_data]
    
    train_data = np.array(train_data,dtype='float32')
    test_data = np.array(test_data,dtype='float32')
    
    r_train,c_train = train_data.shape
    r_test,c_test = test_data.shape
    
    for i in range(1,c_train+1):
        x_train.append(train_data[:,i-1:i]/train_data[:,i-1:i].max())
    x_train = np.array(x_train)
        
    for j in range (1,c_test+1):
        x_test.append(test_data[:,i-1:i]/test_data[:,i-1:i].max())
    x_test = np.array(x_test)
        
    x_train = np.reshape(x_train,(r_train,c_train))
    x_test = np.reshape(x_test,(r_test,c_test))
    
    return(x_train,x_test)

In [13]:
train_data,test_data = Normalizing_the_dataset(dataset,train_size=0.7)

In [14]:
train_data

array([[0.01298612, 0.01282067, 0.01247513, 0.01247513, 0.01247513],
       [0.01247513, 0.01247513, 0.01264267, 0.01230969, 0.01264267],
       [0.01264267, 0.01230969, 0.01264267, 0.01247513, 0.01264267],
       ...,
       [0.04352771, 0.08664873, 0.08684395, 0.03736825, 0.08052373],
       [0.20037647, 0.14256583, 0.09158378, 0.10537156, 0.10485569],
       [0.09813176, 0.07260869, 0.04453855, 0.04245125, 0.05439257]],
      dtype=float32)

In [15]:
test_data

array([[0.00466363, 0.00319545, 0.00669317, 0.00351931, 0.00287159],
       [0.00220226, 0.00326022, 0.00177045, 0.0026125 , 0.00349772],
       [0.00272045, 0.00200795, 0.00358409, 0.00382158, 0.00408068],
       ...,
       [0.12048183, 0.09500121, 0.06095733, 0.05814447, 0.25390965],
       [0.10930332, 0.07308212, 0.09003063, 0.10530105, 0.34786713],
       [0.19991487, 0.17813227, 0.14762469, 0.10980479, 0.1823359 ]],
      dtype=float32)